html {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Pretendard Variable", 'Apple SD Gothic Neo', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    min-height: 100vh;
    height: 100vh;
}

.container {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message {
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: relative;
}

.dream-image {
    width: 90vw;
}

h1 {
    color: #263058;
    text-align: center;
    font-family: Pretendard;
    z-index: 1;
    padding: 0;
    margin: 0;
}

.name-size, .part-size, .dreamMessage-size {
    position: absolute;
}

.part-text, .name-text, .dreamMessage-text {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part-text, .name-text {
    font-size: 1.2rem;
}

.dreamMessage-text {
    word-break: keep-all;
    font-size: 1rem;
}
.part-size, .name-size{
    top: 7%;
    height: 9%;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.part-size {
    left: 42%;
}
.name-size {
    right: 7%;
}

.dreamMessage-size {
    bottom: 15%;
    left: 15%;
    height: 17%;
    width: 54%;
    justify-content: center;
    align-items: center;
}

